Source: taskscheduler
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: M.Angel Juan <m.angel.juan@gmail.com>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, Juanma Navarro <juanma1980@gmail.com>, Juan Ramon Pelegrina <pelegrina.jua@gmail.com>
Build-Depends: llxsrchelper,debhelper (>= 9.0),dh-python,python3-all,python3-setuptools,zero-dev,python3-poinstaller
Standards-Version: 3.9.5

Package: taskscheduler
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-taskscheduler (>= 3.3-0lliurex23), python3-appconfig (>=0.51.1-0llx23)
Description: Main taskschedular program

Package: taskscheduler-data
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Taskschedular data files
